{{# if error}}
    {{# each error}}
  <div class="alert alert-danger container text-center">
    <p> {{this}}</p>
    </div>
    {{/each}}
{{/if}} 

{{# if error_msg}}
    {{# each error_msg}}
  <div class="alert alert-danger container text-center">
    <p> {{this}}</p>
    </div>
    {{/each}}
{{/if}} 

{{# if success}}
  <div class="alert alert-success container text-center">
    <p> {{success}}</p>
    </div>
{{/if}} 

{{# if success_msg}}
  <div class="alert alert-success container text-center">
    <p> {{success_msg}}</p>
    </div>
{{/if}} 
